{% extends "component/sidebar.html" %}
{% load static %}

{% block page_content %}
<style>
    .cursor{
        cursor: pointer;
    }
</style>

    <div id="layoutSidenav_content" class="bg-image"
        style="background-color: #fffdec;
        background-image: url({% static 'image/book/image.png' %});
        background-repeat: no-repeat;
        background-size:90%;
        background-position: 21px -186px;">
        <main>

                <div style="text-align: center; padding: 19px 508px 0 0; height: 144px;">
                    <div style="width: 370px; display: flex; align-items: center;">
                        <div>
                            <img style="margin-right: 30px;" src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/django_static/image/book/level_title_A.png" alt="">
                        </div>
                        <div class="book_num">
                            <img style="width: 235px;
                            height: 77px;" src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/django_static/image/book/monthA.png" alt="">
                        </div>
                        <div style="font-family: 'Chalkduster', sans-serif;
                        font-size: 100px;
                        color: #ffc70a;">1</div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col cursor">
                        <img src="{% static 'image/book/week-1.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/mon.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/tue.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/wed.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/thu.png' %}" alt="">
                    </div>
                    <div class="col-xl-4 col-sm-6 cursor">
                        <img src="{% static 'image/book/fri.png' %}" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col cursor">
                        <img src="{% static 'image/book/week-2.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/mon.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/tue.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/wed.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/thu.png' %}" alt="">
                    </div>
                    <div class="col-xl-4 col-sm-6 cursor">
                        <img src="{% static 'image/book/fri.png' %}" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="{% static 'image/book/week-3.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/mon.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/tue.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/wed.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/thu.png' %}" alt="">
                    </div>
                    <div class="col-xl-4 col-sm-6 cursor">
                        <img src="{% static 'image/book/fri.png' %}" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col cursor">
                        <img src="{% static 'image/book/week-4.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/mon.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/tue.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/wed.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/thu.png' %}" alt="">
                    </div>
                    <div class="col-xl-4 col-sm-6 cursor">
                        <img src="{% static 'image/book/fri.png' %}" alt="">
                    </div>
                </div>
  
        </main>

{% endblock %}