{% extends "component/sidebar.html" %}
{% load static %}

{% block page_content %}
<style>
    .cursor{
        cursor: pointer;
    }
</style>

    <div id="layoutSidenav_content" class="bg-image"
        style="background-color: #eaf2e0;
        background-image: url({% static 'image/book/level_B.png' %});
        background-repeat: no-repeat;
        background-position: 39px -9px">
        <main>

                <div style="text-align: center; padding: 19px 508px 0 0; height: 144px;">
                    <div style="width: 370px; display: flex; align-items: center;">
                        <div>
                            <img style="margin-right: 30px;" 
                                src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/django_static/image/book/level_title_B.png" alt="">
                        </div>
                        <div class="book_num">
                            <img style="width: 235px; height: 77px;" 
                            src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/django_static/image/book/monthB.png" alt="">
                        </div>
                        <div style="font-family: 'Chalkduster', sans-serif;
                        font-size: 100px;
                        color: #9ab738;">1</div>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col">
                        <img src="{% static 'image/book/B_week-1.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_mon.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_tue.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_wed.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_thu.png' %}" alt="">
                    </div>
                    <div class="col-xl-4 col-sm-6 cursor">
                        <img src="{% static 'image/book/B_fri.png' %}" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="{% static 'image/book/B_week-2.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_mon.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_tue.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_wed.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_thu.png' %}" alt="">
                    </div>
                    <div class="col-xl-4 col-sm-6 cursor">
                        <img src="{% static 'image/book/B_fri.png' %}" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="{% static 'image/book/B_week-3.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_mon.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_tue.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_wed.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_thu.png' %}" alt="">
                    </div>
                    <div class="col-xl-4 col-sm-6 cursor">
                        <img src="{% static 'image/book/B_fri.png' %}" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="{% static 'image/book/B_week-4.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_mon.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_tue.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_wed.png' %}" alt="">
                    </div>
                    <div class="col cursor">
                        <img src="{% static 'image/book/B_thu.png' %}" alt="">
                    </div>
                    <div class="col-xl-4 col-sm-6 cursor">
                        <img src="{% static 'image/book/B_fri.png' %}" alt="">
                    </div>
                </div>
  
        </main>

{% endblock %}