{% extends "component/header.html" %}
{% load static %}

{% block sidebar %}

<style>
	.accordion-button:after {
	  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
	}
	.header{
		background-color: #1596ea; min-height: 550px; background-image: url(https://bv-kidsloop.s3.ap-northeast-2.amazonaws.com/media/image/Bada01.gif); background-position: bottom; background-repeat: no-repeat; background-size: 250px;z-index:99;
	}
	.img{
		vertical-align: text-bottom; size:80%; margin-right: 6px;
	}
	.text{
		font-family: 'Nanum Gothic', sans-serif; font-size: 26px; font-weight: 800; color: #fff;margin-left: 12px; letter-spacing: -1px;
	}
	.accordion-text{
		text-align: left; background-color: #fff; padding: 9px 60px; font-family: 'Source Sans Pro', sans-serif; font-size: 19px; cursor: pointer;
	}
	.accordion-text a{
		color: #666;
	}
	.line{
		border: 1px solid #fff;
	}
</style>

	<div class="col-sm-3 col-2 header">
      	<div class="accordion accordion-flush" id="accordionFlushExample">
			<div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingOne">
			      <button 
			      	style="height: 83px; cursor: pointer; background-color: #1596ea;"
			        class="accordion-button collapsed" 
			      	type="button" 
			      	data-bs-toggle="collapse" 
			      	data-bs-target="#flush-collapseOne" 
			      	aria-expanded="false" 
			      	aria-controls="flush-collapseOne">
			        <img 
			        	class="img"
			        	src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/django_static/image/index/icon-contents.png" 
			        	alt="">
					<span class="d-none d-md-inline text">Bada Kinder</span>
			      </button>
			      <div class="line"></div>
			    </h2>

			    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
			      	<div class="accordion-text">
						<a class="text-decoration-none" href="/main">Videos</a>
					</div>
					<div class="accordion-text">
						<a class="text-decoration-none" href="/rpp">Teacher's Guide</a>
					</div>
					<div class="accordion-text">
						<a class="text-decoration-none" href="/activity-book">Activity Book</a>
					</div>
			      </div>
			    </div>
			</div>

			<div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingTwo">
			      <button 
			      	style="height: 83px; cursor: pointer; background-color: #1596ea;"
			      	class="accordion-button collapsed" 
			      	type="button" 
			      	data-bs-toggle="collapse" 
			      	data-bs-target="#flush-collapseTwo" aria-expanded="false" 
			      	aria-controls="flush-collapseTwo">
			        <img 
			        	class="img"
			        	src="{% static 'image/index/icon-board.png' %}" 
			        	alt="">
			        <span class="d-none d-md-inline text">Tutorial</span>
			      </button>
			      <div class="line"></div>
			    </h2>
			    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
			      	<div class="accordion-text">
						<a class="text-decoration-none " href="/board/notice">Video</a>
					</div>
					<div class="accordion-text">
						<a class="text-decoration-none" href="/board/studyplan">File</a>
					</div>
				  </div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingThree">
			      <button 
			      	style="height: 83px; cursor: pointer; background-color: #1596ea;"
			      	class="accordion-button collapsed" 
			      	type="button" 
			      	data-bs-toggle="collapse" 
			      	data-bs-target="#flush-collapseThree" 
			      	aria-expanded="false" 
			      	aria-controls="flush-collapseThree">
			        <img class="img" src="{% static 'image/index/icon-homework.png' %}" alt="">
			        <span class="d-none d-md-inline text">Homework</span>
			      </button>
			      <div class="line"></div>
			    </h2>
			    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
			      	<div class="accordion-text">
						<a class="text-decoration-none" href="/board/notice">KidsLoop Home</a>
					</div>
			      </div>
			    </div>
			  </div>
	        </div>
    </div>

{% endblock %}

{% block content %}
{% endblock %}