{% extends "component/sidebar.html" %}
{% load static %}

{% block page_content %}
<div id="layoutSidenav_content" style="padding-left: 25px;" class="bg-ocean">
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-1 mb-5">Activity Book</h1>

			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">
				<div class="col mb-5">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_10_49_18_06ada6447e.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_10"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Activity Book-Level A-Month 1</h6>
							</div>
						</div>

						<div id="vimeo_modal_10" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_1_AB_95fca3a8b4.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_13_48_07_a8f4952786.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_11"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Activity Book-Level A-Month 2</h6>
							</div>
						</div>

						<div id="vimeo_modal_11" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_2_AB_d3661bec0e.pdf"
									width="800px" height="800px" frameborder="0">
								</iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_13_52_44_c84197b0d9.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_12"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Activity Book-Level A-Month 3</h6>
							</div>
						</div>

						<div id="vimeo_modal_12" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_3_AB_feb5f37b5c.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_13_57_49_856775745b.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_13"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Activity Book-Level A-Month 4</h6>
							</div>
						</div>

						<div id="vimeo_modal_13" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_4_AB_4b6fa72a6f.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_14_06_19_6f10ec5863.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_14"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Activity Book-Level A-Month 6</h6>
							</div>
						</div>

						<div id="vimeo_modal_14" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_6_AB_2eff748071.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Thumb_B_Month1_AB_fb0833b9be.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_15"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Activity Book-Level B-Month 1</h6>
							</div>
						</div>

						<div id="vimeo_modal_15" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/B_Month_1_AB_fe5e33e84d.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Thumb_B_Month2_AB_c121921ad0.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_16"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Activity Book-Level B-Month 2</h6>
							</div>
						</div>

						<div id="vimeo_modal_16" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/B_Month_2_AB_b5bd3e7235.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Thumb_B_Month3_AB_8932ed837c.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_17"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Activity Book-Level B-Month 3</h6>
							</div>
						</div>

						<div id="vimeo_modal_17" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/B_Month_3_AB_08fa239031.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<nav aria-label="Pagination">
				<ul class="pagination justify-content-center">
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">...</a></li>
				<li class="page-item"><a class="page-link" href="#">17</a></li>
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
				</ul>
			</nav>
		</div>
		
	</main>
{% endblock %}