{% extends "component/sidebar.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/contents/nemies.css' %}">
{% endblock %}

{% block content %}
<style>
	.page-header{
		padding-bottom: 9px;
		margin: 40px 0 20px;
		border-bottom: 1px solid #eee;
	}
	.video_area .contents_area {
    	margin: 20px;
	}
</style>

<div class="content">
	<div class="page-header" style="padding-left: 50px">
		<h1>Activity Book </h1>
	</div>
	
<div  class="video_area" style="min-height: 800px;">

	<div class="contents_area">

		<div class="contaior">
			<div class="contents_area">
				<img 
					class="img_contents" 
					data-bs-toggle="modal" 
					data-bs-target="#vimeo_modal_3" 
					src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_10_49_18_06ada6447e.png" 
					alt="">
				<div class="video_title" style="height:70px;">
					Activity Book-Level A-Month 1
				</div>
			</div>
			<div id="vimeo_modal_3" class="modal fade" role="dialog">
				<div class="modal-dialog" style="width: 1200px;">
					<iframe 
						height="800px" 
						width="100%"
						src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_1_AB_95fca3a8b4.pdf"
						frameborder="0">
					</iframe>
				</div>
			</div>
			
			<div class="contents_area">
				<img 
					class="img_contents" 
					data-bs-toggle="modal"
					data-bs-target="#vimeo_modal_4"
					src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_13_48_07_a8f4952786.png" 
					alt="">
				<div class="video_title" style="height:70px;">
					Activity Book-Level A-Month 2
				</div>
			</div>
			<div id="vimeo_modal_4" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<iframe
						height="800px"
						width="100%"
						src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_2_AB_d3661bec0e.pdf" 
						frameborder="0">
					</iframe>
				</div>
			</div>
			<div class="contents_area">
				<img 
					class="img_contents" 
					data-bs-toggle="modal" 
					data-bs-target="#vimeo_modal_5" 
					src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_13_52_44_c84197b0d9.png" 
					alt="">
				<div class="video_title" style="height:70px;">
					Activity Book-Level A-Month 3
				</div>
			</div>
			<div id="vimeo_modal_5" class="modal fade" role="dialog">
				<div class="modal-dialog" style="width: 1200px;">
					<iframe 
						height="800px" 
						width="100%" 
						src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_3_AB_feb5f37b5c.pdf" 
						frameborder="0">	
					</iframe>
				</div>
			</div>
			
			<div class="contents_area">
				<img class="img_contents" 
					data-bs-toggle="modal"
					data-bs-target="#vimeo_modal_6"
					src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_13_57_49_856775745b.png" 
					alt="">
				<div class="video_title" style="height:70px;">
					Activity Book-Level A-Month 4
				</div>
			</div>
			<div id="vimeo_modal_6" class="modal fade" role="dialog">
				<div class="modal-dialog" style="width: 1200px;">
					<iframe 
						height="800px"
						width="100%"
						src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_4_AB_4b6fa72a6f.pdf"
						frameborder="0">
					</iframe>
				</div>
			</div>
			
			<div class="contents_area">
				<img 
					class="img_contents" 
					data-bs-toggle="modal"
					data-bs-target="#vimeo_modal_7"
					src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Screen_Shot_2022_06_16_at_14_06_19_6f10ec5863.png" 
					alt="">
				<div class="video_title" style="height:70px;">
					Activity Book-Level A-Month 6
				</div>
			</div>
			<div id="vimeo_modal_7" class="modal fade" role="dialog">
				<div class="modal-dialog" style="width: 1200px;">
					<iframe
						height="800px"
						width="100%"
						src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/A_Month_6_AB_2eff748071.pdf"
						frameborder="0">
					</iframe>
				</div>
			</div>
			
			<div class="contents_area">
				<img 
					class="img_contents" 
					data-bs-toggle="modal"
					data-bs-target="#vimeo_modal_9" 
					src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Thumb_B_Month1_AB_fb0833b9be.png" 
					alt="">
				<div class="video_title" style="height:70px;">
					Activity Book-Level B-Month 1
				</div>
			</div>
			<div id="vimeo_modal_9" class="modal fade" role="dialog">
				<div class="modal-dialog" style="width: 1200px;">
					<iframe 
						height="800px"
						width="100%"
						src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/B_Month_1_AB_fe5e33e84d.pdf"
						frameborder="0">
					</iframe>
				</div>
			</div>
			
			<div class="contents_area">
				<img 
					class="img_contents"
					data-bs-toggle="modal"
					data-bs-target="#vimeo_modal_10"
					src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Thumb_B_Month2_AB_c121921ad0.png"
					alt="">
				<div class="video_title" style="height:70px;">
					Activity Book-Level B-Month 2
				</div>
			</div>
			<div id="vimeo_modal_10" class="modal fade" role="dialog">
				<div class="modal-dialog" style="width: 1200px;">
					<iframe 
						height="800px"
						width="100%"
						src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/B_Month_2_AB_b5bd3e7235.pdf"
						frameborder="0">
					</iframe>
				</div>
			</div>
			
			<div class="contents_area">
				<img
					class="img_contents" 
					data-bs-toggle="modal"
					data-bs-target="#vimeo_modal_11"
					src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Thumb_B_Month3_AB_8932ed837c.png"
					alt="">
				<div class="video_title" style="height:70px;">
					Activity Book-Level B-Month 3
				</div>
			</div>
			<div id="vimeo_modal_11" class="modal fade" role="dialog">
				<div class="modal-dialog" style="width: 1200px;">
					<iframe 
						height="800px"
						width="100%"
						src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/B_Month_3_AB_08fa239031.pdf"
						frameborder="0">	
					</iframe>
				</div>
			</div>
			
		</div>
		
		<div class="page_nav">
			<a name="page_btn" id="page1" class="on text-decoration-none" href="?page=1">1</a>
			<a name="page_btn" id="page2" class="text-decoration-none"  href="?page=2">2</a>
			<a name="page_btn" id="page3" class="text-decoration-none"  href="?page=3">3</a>
			<a class="dir" href="?page=3" style="margin-left:4px">
				<img src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/django_static/image/index/btn_page_next.gif" alt="next" />
			</a>
			<a class="dir" href="?page=3">
				<img src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/django_static/image/index/btn_page_last.gif" alt="last" />
			</a>
		</div>
	</div>
</div>
{% endblock %}