{% extends "component/header.html" %}
{% load static %}

{% block page_content %}
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-1 mb-5">Tutorial File</h1>

			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">
				<div class="col mb-5">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/student_tg_f59ab6390b.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_10"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Student Training Guide</h6>
							</div>
						</div>

						<div id="vimeo_modal_10" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Student_Training_Guide_db2e7f1b1f.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/teacher_tg_3d9eebcadc.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_11"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Teacher Training Guide</h6>
							</div>
						</div>

						<div id="vimeo_modal_11" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Teacher_Training_Guide_2bcb4454ae.pdf"
									width="800px" height="800px" frameborder="0">
								</iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</main>
{% endblock %}