{% extends "component/header.html" %}
{% load static %}

{% block page_content %}
<style>
	.level_box_area{
		margin: 20px 20px 0px 10px; 
		width: 376px; 
		height: 582px; 
		background-size: cover; 
		background-repeat: no-repeat;
	}
	.age_badge{
		margin-left: 20px;
		height:80px;
	}
	.level-class-area{
		text-align: center; 
	}
</style>

	<main>
		<div class="container-fluid px-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">
				
				<div class="col mb-5 level_box_area"
					style="background-image: url('{% static 'image/index/a-bg.png' %}')">
					<a href="/level/A">
						<div>
							<img class="age_badge" src="{% static 'image/index/5.png' %}" alt="">
						</div>
						<div class="level-class-area">
							<img class="level_class" src="{% static 'image/index/level-a.png' %}" alt="">
						</div>
					</a>
				</div>

				<div class="col mb-5 level_box_area"
					style="background-image: url('{% static 'image/index/b-bg.png' %}')">
					<a href="/level/A">
						<div>
							<img class="age_badge" src="{% static 'image/index/6.png' %}" alt="">
						</div>
						<div class="level-class-area">
							<img class="level_class" src="{% static 'image/index/level-b.png' %}" alt="">
						</div>
					</a>
				</div>

				<div class="col mb-5 level_box_area"
					style="background-image: url('{% static 'image/index/c-bg.png' %}')">
					<a href="/level/A">
						<div>
							<img class="age_badge" src="{% static 'image/index/7.png' %}" alt="">
						</div>
						<div class="level-class-area">
							<img class="level_class" src="{% static 'image/index/level-c.png' %}" alt="">
						</div>
					</a>
				</div>

			</div>
		</div>
		
	</main>
{% endblock %}