{% extends "component/sidebar.html" %}
{% load static %}

{% block page_content %}
<style>
	.level_box_area{
		margin: 20px 20px 0px 10px; 

		height: 632px; 
		background-size: cover; 
		background-repeat: no-repeat;
	}
	.age_badge{
		margin-left: 20px;
		height:80px;
	}
	.level-class-area{
		text-align: center; 
	}
</style>

	<main>
		<div class="container">
			<div class="row">
				<div class="col level_box_area" style="background-image: url('{% static 'image/index/a-bg.png' %}')">
					<a href="/level/1">
						<div>
							<img class="age_badge" src="{% static 'image/index/5.png' %}" alt="">
						</div>
						<div class="level-class-area">
							<img class="level_class" src="{% static 'image/index/level-a.png' %}" alt="">
						</div>
					</a>
				</div>
				<div class="col level_box_area" style="background-image: url('{% static 'image/index/b-bg.png' %}')">
					<a href="/level/2">
						<div>
							<img class="age_badge" src="{% static 'image/index/6.png' %}" alt="">
						</div>
						<div class="level-class-area">
							<img class="level_class" src="{% static 'image/index/level-b.png' %}" alt="">
						</div>
					</a>
				</div>
				<div class="col level_box_area" style="background-image: url('{% static 'image/index/c-bg.png' %}')">
					<a href="/level/3">
						<div>
							<img class="age_badge" src="{% static 'image/index/7.png' %}" alt="">
						</div>
						<div class="level-class-area">
							<img class="level_class" src="{% static 'image/index/level-c.png' %}" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}