{% extends "component/sidebar.html" %}
{% load static %}


{% block page_content %}
<div id="layoutSidenav_content" style="padding-left: 25px;" class="bg-ocean">
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-1 mb-5">Teacher's Guide</h1>

			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">
				<div class="col mb-5">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Lv_CM_3_LP_7_e97c5c4e0b.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_10"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Guide_Month 3 Wk. 2 Day 7_Lv. C</h6>
							</div>
						</div>

						<div id="vimeo_modal_10" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/BKA_LC_M3_W2_LP_7_29b6210e91.pdf"
									width="800px" height="800px">
							    </iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Lv_CM_3_LP_5_dadf742d5c.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_11"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Guide_Month 3 Wk. 1 Day 5_Lv. C</h6>
							</div>
						</div>

						<div id="vimeo_modal_11" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/BKA_LC_M3_W1_LP_5_ee59f9e5fc.pdf"
									width="800px" height="800px" frameborder="0">
								</iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Lv_AM_1_LP_11_e94cc806d7.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_12"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Guide_Month 1 Wk. 3 Day 11_Lv. A</h6>
							</div>
						</div>

						<div id="vimeo_modal_12" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/BKA_LA_M1_W3_LP_11_4f249021a6.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Lv_AM_3_LP_20_390f370594.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_13"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Guide_Month 3 Wk. 4 Day 20_Lv. A</h6>
							</div>
						</div>

						<div id="vimeo_modal_13" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/BKA_LA_M3_W4_LP_20_89a97a588f.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Lv_AM_1_LP_20_ef1f4085b9.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_14"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Guide_Month 1 Wk. 4 Day 20_Lv. A</h6>
							</div>
						</div>

						<div id="vimeo_modal_14" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/BKA_LA_M1_W4_LP_20_693c939b19.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>

				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Lv_BM_1_LP_11_c79f9cb19c.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_15"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Guide_Month 1 Wk. 4 Day 20_Lv. A</h6>
							</div>
						</div>

						<div id="vimeo_modal_15" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/BKA_LB_M1_W3_LP_11_d77364e446.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Lv_CM_2_LP_11_0f0438e284.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_16"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Guide_Month 2 Wk. 3 Day 11_Lv. C</h6>
							</div>
						</div>

						<div id="vimeo_modal_16" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/BKA_LC_M2_W3_LP_11_d59216c9db.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" 
							src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/Lv_AM_2_LP_3_beede7de29.png" 
							data-bs-toggle="modal"
							data-bs-target="#vimeo_modal_17"
							alt="..." />
						<!-- Product details-->
						<div class="card-body" style="background-color: #9cd8ff">
							<div class="text-center text-white" >
								<!-- Product name-->
								<h6>Guide_Month 2 Wk. 1 Day 3_Lv. A</h6>
							</div>
						</div>

						<div id="vimeo_modal_17" class="modal fade" role="dialog">
							<div class="modal-dialog" style="width: 1200px;">
								<iframe src="https://klid-prod-bada-kinder.s3.ap-southeast-3.amazonaws.com/BKA_LA_M2_W1_LP_3_8fb474ff87.pdf"
									width="800px" height="800px" frameborder="0">
							    </iframe>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<nav aria-label="Pagination">
				<ul class="pagination justify-content-center">
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">...</a></li>
				<li class="page-item"><a class="page-link" href="#">17</a></li>
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
				</ul>
			</nav>
		</div>
		
	</main>
{% endblock %}