{% extends "component/header.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/level_page/level_C.css' %}">
{% endblock %}

{% block sidebar %}
	<div class="side_bar">
		<img class="side_logo" src="{% static 'image/level_page/level-c.png' %}" alt="">
	</div>
{% endblock %}

{% block content %}

<div class="content">

<div class="level_book_area">
	<div class="row" style="margin: 110px 0 0 86px;">
		<a href="/book/1/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-1.png' %}" alt="">
			</div>
		</a>
		<a href="/book/2/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-2.png' %}" alt="">
			</div>
		</a>
		<a href="/book/3/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-3.png' %}" alt="">
			</div>
		</a>
		<a href="/book/4/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-4.png' %}" alt="">
			</div>
		</a>
	</div>
	<div class="row" style="margin-left: 86px;">
		<a href="/book/5/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-5.png' %}" alt="">
			</div>
		</a>
		<a href="/book/6/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-6.png' %}" alt="">
			</div>
		</a>
		<a href="/book/7/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-7.png' %}" alt="">
			</div>
		</a>
		<a href="/book/8/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-8.png' %}" alt="">
			</div>
		</a>
	</div>
	<div class="row" style="margin-left: 86px;">
		<a href="/book/9/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-9.png' %}" alt="">
			</div>
		</a>
		<a href="/book/10/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-10.png' %}" alt="">
			</div>
		</a>
		<a href="/book/11/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-11.png' %}" alt="">
			</div>
		</a>
		<a href="/book/12/C" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-12.png' %}" alt="">
			</div>
		</a>
	</div>
</div>
{% endblock %}